{% extends 'web/index.html' %}
{% load  static %}
{% block Banner %}
    <header class="masthead bg-secondary text-white text-center">
        <div class="container-fluid d-flex align-items-center flex-column">
            <h1>Pedidos en linea</h1>
        </div>
    </header>
{% endblock Banner %}
{% block pageContent %}
<div class="container" id="vue-app">
<!-- cart alert -->
<div class="row" v-if="cart.length > 0">
		<div class="col-12 mt-3">
			<div class="alert alert-dark d-flex flex-column align-items-center">
				<p>Tienes {$ cartLength $} productos en tu carrito</p>
				<a class="btn btn-outline-secondary"
					href="{% url 'shipping:cart' %}">Comprar Ahora</a>
			</div>
		</div>
	</div>
<!-- end cart alert -->
<!-- Search Bar -->
	<div class="row">
		<div class="col">
			<form class="my-4" @submit.prevent="searchProduct(query)">
				<div class="row">
					<div class="col-7 offset-1 offset-md-2">
						<input
							v-model="query"
							type="text"
							placeholder="Buscar producto"
							class="form-control">
					</div>
					<div class="col-1">
						<button 
							type="submit" 
							class="btn btn-secondary"
							style="width: 100px;"
							>Buscar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
<!-- End Search Bar -->

<!-- List Products -->
	<div class="row">
		<div class="col-12 col-md-8 offset-md-2">
			<ul class="list-unstyled">
				<li 
					class="media my-3" 
					v-for="product in products"
					:key="product.idProduct"
					@click="productDetails(product.idProduct)"
				>
					<img 
						:src="product.picture"
						class="align-self-center"
						style="height: 150px; width: 150px;"
					/>
					<div class="media-body">
						<h5 class="ml-5">{$ product.name $}</h5>
						<p class="ml-5">{$ product.status ? 'Disponible' : 'Agotado' $} {$ product.stock > 0 ? `${product.stock} pz(s)` : "" $}</p>
						<h6 class="ml-5">${$ product.price $} USD</h6>
					</div>
				</li>
			</ul>
		</div>
	</div>
<!-- End List -->
</div>
{% endblock %}
{% block vueApp %}
	<script src="{% static 'js/cart/list.vue.js' %}"></script>
{% endblock vueApp %}
