{% extends 'web/index.html' %}
{% block Banner %}
    <header class="masthead bg-secondary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h1>Pedidos en linea</h1>           
        </div>
    </header>
{% endblock Banner %}
{% block pageContent %}
    <form method="post">{% csrf_token %}
        {% if form.product.status == true %}
            <div class='container mt-3 mb-3'>
                {% for shipping in form.product %}
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ shipping }}</h5>
                            
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
            
    </form>
{% endblock %}}