{% extends 'web/index.html' %}
{% block Banner %}
    <header class="masthead bg-secondary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h1>Pedidos en linea</h1>           
        </div>
    </header>
{% endblock Banner %}
{% block pageContent %}
        <div class="container my-5">
						<div class="row justify-content-between">
									<div class="dropdown dropleft  mx-3 mb-3">
										<button class="btn btn-secondary px-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<i class="fas fa-shopping-cart"></i>
										</button>
										<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
						</div>
						<div class="row justify-content-center">
								{% for shipping  in shipping_list  %}
									<div class="card m-3" >
										{% if shipping.picture %}
										<img src="{{ shipping.picture.url }}" alt="{{ shipping.name }}" class="card-img-top" style="width: 300px; height: 300px">
										{% endif %}
										<div class="card-body text-center">
											<h3 class="card-title">{{ shipping.name }}</h3>
											<section class="d-flex justify-content-between">
												<div id="status">
													{% if shipping.status  %}
													<p class="card-text">Disponible</p>
													{% else %}
														
													<p class="card-text text-danger">Agotado</p>
													{% endif %}
												</div>
												<div id="price">
													<p class="h5">${{ shipping.price }} USD</p>
												</div>
											</section>
											<div class="d-flex justify-content-center">
												<button 
													class="btn btn-secondary mt-3"
													{% if shipping.status == False %}
														disabled
													{% endif %}
												>
													Agregar al carrito
												</button>
											</div>
										</div>
									</div>
								{% endfor %}


            </div>
        </div> 
{% endblock %}
